doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(link rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet")
       
  body
    block content
