body {
  padding: 10px;
  font: 14px;
  font-family: "Montserrat", serif;
  background-color: #2e2a2e;
}
p {
  text-align: center;
  color: #d8d8d8;
}

h1 {
  text-align: center;
  padding-top: 50px;
  color: #fda000;
}

a {
  color: #00b7ff;
}
